{
  "openapi": "3.1.0",
  "info": {
    "title": "NoxConnect API",
    "version": "1.0.0",
    "description": "Capability-first API for understanding NoxConnect, discovering each Nox service, connecting providers, and configuring service setup.",
    "license": {
      "name": "Proprietary",
      "identifier": "LicenseRef-Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://app.unticket.ai",
      "description": "Hosted NoxConnect API"
    }
  ],
  "security": [
    {
      "browserSession": [],
      "organization": []
    },
    {
      "nativeSession": [],
      "organization": []
    },
    {
      "noxApiToken": []
    },
    {
      "bearerAuth": [],
      "organization": []
    }
  ],
  "paths": {
    "/api/integrations/setup": {
      "get": {
        "operationId": "getSetupPlan",
        "summary": "Get resumable setup state and next actions",
        "responses": {
          "200": {
            "description": "Current setup plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetupPlan"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxConnect"
        ],
        "x-authentication": "member",
        "x-change-safety": "safe_read",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      }
    },
    "/api/integrations/connections": {
      "get": {
        "operationId": "listConnections",
        "summary": "List provider connection state",
        "responses": {
          "200": {
            "description": "Connection registry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxConnect"
        ],
        "x-authentication": "member",
        "x-change-safety": "safe_read",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      }
    },
    "/api/integrations/connections/{provider}/start": {
      "post": {
        "operationId": "startConnection",
        "summary": "Start a provider connection",
        "description": "Returns a userAction URL for human OAuth approval.",
        "parameters": [
          {
            "$ref": "#/components/parameters/provider"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartConnectionBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Human action required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserAction"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxConnect"
        ],
        "x-authentication": "admin",
        "x-change-safety": "write_not_safe_to_retry",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      }
    },
    "/api/integrations/connections/{provider}/disconnect": {
      "post": {
        "operationId": "disconnectConnection",
        "summary": "Disconnect a provider",
        "parameters": [
          {
            "$ref": "#/components/parameters/provider"
          }
        ],
        "responses": {
          "200": {
            "description": "Disconnected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "409": {
            "description": "Provider-managed disconnect",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxConnect"
        ],
        "x-authentication": "admin",
        "x-change-safety": "destructive",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      }
    },
    "/api/slack/channels": {
      "get": {
        "operationId": "listSlackChannels",
        "summary": "List channels visible to the connected Nox bot",
        "responses": {
          "200": {
            "description": "Slack channels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxConnect"
        ],
        "x-authentication": "member",
        "x-change-safety": "safe_read",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      }
    },
    "/api/integrations/slack/routing": {
      "get": {
        "operationId": "getSlackRouting",
        "summary": "Get service-to-channel routing",
        "responses": {
          "200": {
            "description": "Current routes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxConnect"
        ],
        "x-authentication": "admin",
        "x-change-safety": "safe_read",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      },
      "patch": {
        "operationId": "patchSlackRouting",
        "summary": "Partially update service-to-channel routing",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoutingPatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated routes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "409": {
            "description": "Slack is disconnected or a channel is unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxConnect"
        ],
        "x-authentication": "admin",
        "x-change-safety": "write_not_safe_to_retry",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      }
    },
    "/api/integrations/slack/test": {
      "post": {
        "operationId": "testSlackRoute",
        "summary": "Send a test message through a saved or candidate route",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RouteTest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "409": {
            "description": "No channel configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxConnect"
        ],
        "x-authentication": "admin",
        "x-change-safety": "write_not_safe_to_retry",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      }
    },
    "/api/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List active projects used by feature setup",
        "responses": {
          "200": {
            "description": "Projects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxConnect"
        ],
        "x-authentication": "member",
        "x-change-safety": "safe_read",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      }
    },
    "/api/projects/routing": {
      "get": {
        "operationId": "getProjectRouting",
        "summary": "List NoxConnect projects, repository assignments, and product destinations",
        "responses": {
          "200": {
            "description": "Project routing model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Admin required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxConnect"
        ],
        "x-authentication": "member",
        "x-change-safety": "safe_read",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      }
    },
    "/api/projects/routing/{projectId}": {
      "put": {
        "operationId": "updateProjectRouting",
        "summary": "Atomically update one project's repositories and named Slack destinations",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectRoutingInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project routing updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or missing organization context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Admin required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "404": {
            "description": "Active project not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "409": {
            "description": "Workspace belongs to another project or channel is unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "422": {
            "description": "Duplicate or unavailable repository selection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxConnect"
        ],
        "x-authentication": "member",
        "x-change-safety": "write_not_safe_to_retry",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      }
    },
    "/api/spots/sites": {
      "get": {
        "operationId": "listNoxSpotSites",
        "summary": "List NoxSpot sites",
        "responses": {
          "200": {
            "description": "Sites",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxSpot"
        ],
        "x-authentication": "member",
        "x-change-safety": "safe_read"
      },
      "post": {
        "operationId": "createNoxSpotSite",
        "summary": "Create a NoxSpot site",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoxSpotSiteCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Site created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxSpot"
        ],
        "x-authentication": "admin",
        "x-change-safety": "write_not_safe_to_retry"
      }
    },
    "/api/spots/sites/{siteId}": {
      "patch": {
        "operationId": "updateNoxSpotSite",
        "summary": "Update a NoxSpot site including its channel override",
        "parameters": [
          {
            "$ref": "#/components/parameters/siteId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoxSpotSitePatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Site updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxSpot"
        ],
        "x-authentication": "admin",
        "x-change-safety": "write_not_safe_to_retry"
      },
      "delete": {
        "operationId": "deleteNoxSpotSite",
        "summary": "Delete a NoxSpot site and its screenshots",
        "parameters": [
          {
            "$ref": "#/components/parameters/siteId"
          }
        ],
        "responses": {
          "200": {
            "description": "Site deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxSpot"
        ],
        "x-authentication": "admin",
        "x-change-safety": "destructive"
      }
    },
    "/api/spots/public/v1/sites/{siteId}/config": {
      "get": {
        "operationId": "getPublicNoxSpotConfig",
        "summary": "Get effective public widget configuration for the request origin",
        "security": [],
        "servers": [
          {
            "url": "https://api.noxspot.dev"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/siteId"
          }
        ],
        "responses": {
          "200": {
            "description": "Effective public widget configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "403": {
            "description": "Origin is not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "404": {
            "description": "Site not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxSpot"
        ],
        "x-authentication": "public",
        "x-change-safety": "safe_read"
      }
    },
    "/api/spots/public/v1/reports": {
      "post": {
        "operationId": "submitPublicNoxSpotReport",
        "summary": "Submit a public NoxSpot capture",
        "security": [],
        "servers": [
          {
            "url": "https://api.noxspot.dev"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoxSpotReport"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Capture queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "400": {
            "description": "Invalid capture",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Origin is not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "413": {
            "description": "Request body too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "503": {
            "description": "Delivery unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxSpot"
        ],
        "x-authentication": "public",
        "x-change-safety": "write_not_safe_to_retry"
      }
    },
    "/api/spots/public/v1/errors": {
      "post": {
        "operationId": "submitPublicNoxSpotErrors",
        "summary": "Submit a bounded batch of automatic browser errors",
        "security": [],
        "servers": [
          {
            "url": "https://api.noxspot.dev"
          }
        ],
        "responses": {
          "200": {
            "description": "Errors queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "400": {
            "description": "Invalid error batch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Origin is not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "503": {
            "description": "Delivery unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoxSpotErrorBatch"
              }
            }
          }
        },
        "tags": [
          "NoxSpot"
        ],
        "x-authentication": "public",
        "x-change-safety": "write_not_safe_to_retry"
      }
    },
    "/api/cues/sources": {
      "get": {
        "operationId": "listNoxCueSources",
        "summary": "List NoxCue sources, linked projects, and ingest keys",
        "responses": {
          "200": {
            "description": "Sources",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxCue"
        ],
        "x-authentication": "admin",
        "x-change-safety": "safe_read"
      },
      "post": {
        "operationId": "createNoxCueSource",
        "summary": "Create a NoxCue event source",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoxCueSourceInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Source created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxCue"
        ],
        "x-authentication": "admin",
        "x-change-safety": "write_not_safe_to_retry"
      }
    },
    "/api/cues/sources/{sourceId}": {
      "put": {
        "operationId": "updateNoxCueSource",
        "summary": "Update a NoxCue event source",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoxCueSourceInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Source updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxCue"
        ],
        "x-authentication": "admin",
        "x-change-safety": "write_not_safe_to_retry"
      },
      "delete": {
        "operationId": "deleteNoxCueSource",
        "summary": "Delete a NoxCue source and revoke its keys",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Source deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxCue"
        ],
        "x-authentication": "admin",
        "x-change-safety": "destructive"
      }
    },
    "/api/cues/sources/{sourceId}/keys": {
      "post": {
        "operationId": "createNoxCueKey",
        "summary": "Create a one-time NoxCue browser or server ingest key",
        "description": "The key value is returned once. Do not log it.",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "name",
                  "kind"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80
                  },
                  "kind": {
                    "type": "string",
                    "enum": [
                      "publishable",
                      "secret"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Key created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxCue"
        ],
        "x-authentication": "admin",
        "x-change-safety": "write_not_safe_to_retry"
      }
    },
    "/api/cues/sources/{sourceId}/keys/{keyId}": {
      "delete": {
        "operationId": "revokeNoxCueKey",
        "summary": "Revoke a NoxCue ingest key",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceId"
          },
          {
            "$ref": "#/components/parameters/keyId"
          }
        ],
        "responses": {
          "200": {
            "description": "Key revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxCue"
        ],
        "x-authentication": "admin",
        "x-change-safety": "destructive"
      }
    },
    "/api/cues/sources/{sourceId}/features": {
      "get": {
        "operationId": "listNoxCueFeatures",
        "summary": "List standard and registered custom features with health",
        "description": "Linked sources share their project's custom catalog. Unlinked sources have an isolated source catalog.",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Feature catalog and current health",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Admin required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxCue"
        ],
        "x-authentication": "member",
        "x-change-safety": "safe_read"
      },
      "post": {
        "operationId": "createNoxCueCustomFeature",
        "summary": "Register a custom NoxCue feature before ingest",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoxCueCustomFeatureInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Feature registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "400": {
            "description": "Invalid custom feature",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Admin required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "409": {
            "description": "Feature key already registered in this scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxCue"
        ],
        "x-authentication": "member",
        "x-change-safety": "write_not_safe_to_retry"
      }
    },
    "/api/cues/sources/{sourceId}/features/{featureKey}": {
      "put": {
        "operationId": "updateNoxCueCustomFeature",
        "summary": "Update or pause a registered custom feature",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceId"
          },
          {
            "$ref": "#/components/parameters/featureKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoxCueCustomFeatureUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Feature updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Admin required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "404": {
            "description": "Feature or source not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxCue"
        ],
        "x-authentication": "member",
        "x-change-safety": "write_not_safe_to_retry"
      },
      "delete": {
        "operationId": "deleteNoxCueCustomFeature",
        "summary": "Delete a custom feature definition while retaining historical results",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceId"
          },
          {
            "$ref": "#/components/parameters/featureKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Feature deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Admin required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "404": {
            "description": "Feature or source not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxCue"
        ],
        "x-authentication": "member",
        "x-change-safety": "destructive"
      }
    },
    "/api/cues/sources/{sourceId}/custom-metrics": {
      "get": {
        "operationId": "listNoxCueCustomMetrics",
        "summary": "List registered custom activity metrics and event status",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Custom metric catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Admin required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxCue"
        ],
        "x-authentication": "member",
        "x-change-safety": "safe_read"
      },
      "post": {
        "operationId": "createNoxCueCustomMetric",
        "summary": "Register a custom activity metric before ingest",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoxCueCustomMetricInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Metric registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "400": {
            "description": "Invalid custom metric",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Admin required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "409": {
            "description": "Metric key already registered in this scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxCue"
        ],
        "x-authentication": "member",
        "x-change-safety": "write_not_safe_to_retry"
      }
    },
    "/api/cues/sources/{sourceId}/custom-metrics/{metricKey}": {
      "put": {
        "operationId": "updateNoxCueCustomMetric",
        "summary": "Rename or pause a registered custom activity metric",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceId"
          },
          {
            "$ref": "#/components/parameters/metricKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoxCueCustomMetricUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metric updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Admin required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "404": {
            "description": "Metric or source not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxCue"
        ],
        "x-authentication": "member",
        "x-change-safety": "write_not_safe_to_retry"
      },
      "delete": {
        "operationId": "deleteNoxCueCustomMetric",
        "summary": "Delete a custom metric definition while retaining historical events",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceId"
          },
          {
            "$ref": "#/components/parameters/metricKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Metric deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Admin required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "404": {
            "description": "Metric or source not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxCue"
        ],
        "x-authentication": "member",
        "x-change-safety": "destructive"
      }
    },
    "/api/cues/projects/{projectId}/metrics": {
      "get": {
        "operationId": "getNoxCueProjectMetrics",
        "summary": "List selectable metrics and their active event status for one project",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "responses": {
          "200": {
            "description": "Project metric settings and readiness",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxCue"
        ],
        "x-authentication": "member",
        "x-change-safety": "safe_read"
      },
      "put": {
        "operationId": "updateNoxCueProjectMetrics",
        "summary": "Choose metrics included in one project's daily report",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoxCueProjectMetricSelection"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project metric settings updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxCue"
        ],
        "x-authentication": "member",
        "x-change-safety": "write_not_safe_to_retry"
      }
    },
    "/api/cues/metrics": {
      "get": {
        "operationId": "getNoxCueDailyHealth",
        "summary": "Get stored NoxCue-derived user metrics and digest state",
        "parameters": [
          {
            "name": "sourceId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Daily user health",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxCue"
        ],
        "x-authentication": "admin",
        "x-change-safety": "safe_read"
      }
    },
    "/api/v1/services": {
      "get": {
        "operationId": "listNoxServices",
        "summary": "List Nox services, their focus, capabilities, and setup readiness",
        "responses": {
          "200": {
            "description": "Capability-first service catalog for the current organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceCatalog"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/V1Error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/V1Error"
          },
          "429": {
            "$ref": "#/components/responses/V1Error"
          }
        },
        "tags": [
          "NoxConnect"
        ],
        "x-authentication": "member",
        "x-change-safety": "safe_read"
      }
    },
    "/api/v1/services/{service}": {
      "get": {
        "operationId": "getNoxService",
        "summary": "Get capabilities and setup readiness for one Nox service",
        "parameters": [
          {
            "$ref": "#/components/parameters/service"
          }
        ],
        "responses": {
          "200": {
            "description": "One service and its capability-first setup model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/V1Error"
          },
          "401": {
            "$ref": "#/components/responses/V1Error"
          },
          "403": {
            "$ref": "#/components/responses/V1Error"
          },
          "404": {
            "$ref": "#/components/responses/V1Error"
          },
          "429": {
            "$ref": "#/components/responses/V1Error"
          }
        },
        "tags": [
          "NoxConnect"
        ],
        "x-authentication": "member",
        "x-change-safety": "safe_read"
      }
    },
    "/api/v1/services/{service}/setup": {
      "get": {
        "operationId": "getNoxServiceSetup",
        "summary": "Get setup state, sections, blockers, and capabilities for one service",
        "parameters": [
          {
            "$ref": "#/components/parameters/service"
          }
        ],
        "responses": {
          "200": {
            "description": "Service-scoped setup model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceSetupDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/V1Error"
          },
          "401": {
            "$ref": "#/components/responses/V1Error"
          },
          "403": {
            "$ref": "#/components/responses/V1Error"
          },
          "404": {
            "$ref": "#/components/responses/V1Error"
          },
          "429": {
            "$ref": "#/components/responses/V1Error"
          }
        },
        "tags": [
          "NoxConnect"
        ],
        "x-authentication": "member",
        "x-change-safety": "safe_read"
      }
    },
    "/api/v1/services/{service}/config": {
      "get": {
        "operationId": "getNoxServiceConfig",
        "summary": "Get the settings owned by one service",
        "description": "Returns an ETag and matching revision. Provider credentials are never included.",
        "parameters": [
          {
            "$ref": "#/components/parameters/service"
          }
        ],
        "responses": {
          "200": {
            "description": "Service-scoped configuration",
            "headers": {
              "ETag": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceConfig"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/V1Error"
          },
          "401": {
            "$ref": "#/components/responses/V1Error"
          },
          "403": {
            "$ref": "#/components/responses/V1Error"
          },
          "404": {
            "$ref": "#/components/responses/V1Error"
          },
          "429": {
            "$ref": "#/components/responses/V1Error"
          }
        },
        "tags": [
          "NoxConnect"
        ],
        "x-authentication": "member",
        "x-change-safety": "safe_read",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      },
      "patch": {
        "operationId": "patchNoxServiceConfig",
        "summary": "Partially update the settings owned by one service",
        "description": "Admin-only. Send the ETag from the latest GET as If-Match to prevent lost updates.",
        "parameters": [
          {
            "$ref": "#/components/parameters/service"
          },
          {
            "$ref": "#/components/parameters/ifMatch"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceConfigPatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated service configuration",
            "headers": {
              "ETag": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceConfig"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/V1Error"
          },
          "401": {
            "$ref": "#/components/responses/V1Error"
          },
          "403": {
            "$ref": "#/components/responses/V1Error"
          },
          "409": {
            "$ref": "#/components/responses/V1Error"
          },
          "412": {
            "$ref": "#/components/responses/V1Error"
          },
          "422": {
            "$ref": "#/components/responses/V1Error"
          },
          "428": {
            "$ref": "#/components/responses/V1Error"
          },
          "429": {
            "$ref": "#/components/responses/V1Error"
          }
        },
        "tags": [
          "NoxConnect"
        ],
        "x-authentication": "admin",
        "x-change-safety": "conditional_write",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      }
    },
    "/api/v1/services/{service}/health": {
      "get": {
        "operationId": "getNoxServiceHealth",
        "summary": "Get service readiness and connection checks",
        "parameters": [
          {
            "$ref": "#/components/parameters/service"
          }
        ],
        "responses": {
          "200": {
            "description": "Current service health",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceHealth"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/V1Error"
          },
          "401": {
            "$ref": "#/components/responses/V1Error"
          },
          "403": {
            "$ref": "#/components/responses/V1Error"
          },
          "404": {
            "$ref": "#/components/responses/V1Error"
          },
          "429": {
            "$ref": "#/components/responses/V1Error"
          }
        },
        "tags": [
          "NoxConnect"
        ],
        "x-authentication": "member",
        "x-change-safety": "safe_read"
      }
    },
    "/api/slack/connections/{connectionId}": {
      "patch": {
        "operationId": "assignSlackConnectionProject",
        "summary": "Assign a Slack workspace to a project",
        "description": "One workspace may be organization-wide. With multiple workspaces, every connection requires a project.",
        "parameters": [
          {
            "$ref": "#/components/parameters/connectionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SlackProjectAssignment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assignment saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "409": {
            "description": "Project is required while multiple workspaces exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxConnect"
        ],
        "x-authentication": "admin",
        "x-change-safety": "write_not_safe_to_retry",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      }
    },
    "/api/projects/{projectId}/archive": {
      "post": {
        "operationId": "archiveProject",
        "summary": "Stop tracking a project without deleting it",
        "x-required-role": "admin",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "responses": {
          "200": {
            "description": "Project archived",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AdminRequired"
          },
          "404": {
            "description": "Project not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxConnect"
        ],
        "x-authentication": "admin",
        "x-change-safety": "destructive",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      },
      "delete": {
        "operationId": "restoreProject",
        "summary": "Resume tracking an eligible project",
        "x-required-role": "admin",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          }
        ],
        "responses": {
          "200": {
            "description": "Project restored",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AdminRequired"
          },
          "409": {
            "description": "GitHub repository is archived or retired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxConnect"
        ],
        "x-authentication": "admin",
        "x-change-safety": "destructive",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      }
    },
    "/api/repos": {
      "get": {
        "operationId": "listRepositories",
        "summary": "List tracked repositories or include all discovered repositories",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Repositories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxConnect"
        ],
        "x-authentication": "member",
        "x-change-safety": "safe_read",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      }
    },
    "/api/repos/acknowledge": {
      "post": {
        "operationId": "acknowledgeRepositories",
        "summary": "Acknowledge newly discovered repositories",
        "x-required-role": "admin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "repos"
                ],
                "properties": {
                  "repos": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Repositories acknowledged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AdminRequired"
          }
        },
        "tags": [
          "NoxConnect"
        ],
        "x-authentication": "admin",
        "x-change-safety": "write_not_safe_to_retry",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      }
    },
    "/api/actors": {
      "get": {
        "operationId": "listActors",
        "summary": "List organization people and identity overlays",
        "responses": {
          "200": {
            "description": "Actors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxConnect"
        ],
        "x-authentication": "member",
        "x-change-safety": "safe_read",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      }
    },
    "/api/actors/{actorId}": {
      "get": {
        "operationId": "getActor",
        "summary": "Get one organization identity",
        "parameters": [
          {
            "$ref": "#/components/parameters/actorId"
          }
        ],
        "responses": {
          "200": {
            "description": "Actor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "404": {
            "description": "Actor not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxConnect"
        ],
        "x-authentication": "member",
        "x-change-safety": "safe_read",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      },
      "patch": {
        "operationId": "updateActor",
        "summary": "Update an organization identity overlay",
        "x-required-role": "admin",
        "parameters": [
          {
            "$ref": "#/components/parameters/actorId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActorPatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Actor updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AdminRequired"
          },
          "404": {
            "description": "Actor not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxConnect"
        ],
        "x-authentication": "admin",
        "x-change-safety": "write_not_safe_to_retry",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      }
    },
    "/api/features": {
      "get": {
        "operationId": "listFeatures",
        "summary": "List NoxTicket features",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "open"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Features",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxTicket"
        ],
        "x-authentication": "member",
        "x-change-safety": "safe_read",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      },
      "post": {
        "operationId": "createFeature",
        "summary": "Create a GitHub-backed feature",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeatureCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Feature created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "412": {
            "description": "GitHub App is not installed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "422": {
            "description": "Invalid feature",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxTicket"
        ],
        "x-authentication": "member",
        "x-change-safety": "write_not_safe_to_retry",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      }
    },
    "/api/features/{number}": {
      "patch": {
        "operationId": "updateFeature",
        "summary": "Partially update a feature",
        "parameters": [
          {
            "$ref": "#/components/parameters/number"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeaturePatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Feature updated optimistically",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "404": {
            "description": "Feature not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "422": {
            "description": "Invalid feature update",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxTicket"
        ],
        "x-authentication": "member",
        "x-change-safety": "write_not_safe_to_retry",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      },
      "delete": {
        "operationId": "closeFeature",
        "summary": "Close a feature",
        "parameters": [
          {
            "$ref": "#/components/parameters/number"
          }
        ],
        "responses": {
          "200": {
            "description": "Feature closed optimistically",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "404": {
            "description": "Feature not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxTicket"
        ],
        "x-authentication": "member",
        "x-change-safety": "destructive",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      }
    },
    "/api/specs": {
      "get": {
        "operationId": "listSpecs",
        "summary": "List NoxTicket specifications",
        "parameters": [
          {
            "name": "featureNumber",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Positive feature number or unfiled"
            }
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Specifications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxTicket"
        ],
        "x-authentication": "member",
        "x-change-safety": "safe_read",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      },
      "post": {
        "operationId": "createSpec",
        "summary": "Create a specification",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpecInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Specification created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "422": {
            "description": "Invalid specification",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxTicket"
        ],
        "x-authentication": "member",
        "x-change-safety": "write_not_safe_to_retry",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      }
    },
    "/api/specs/{specId}": {
      "get": {
        "operationId": "getSpec",
        "summary": "Get one specification",
        "parameters": [
          {
            "$ref": "#/components/parameters/specId"
          }
        ],
        "responses": {
          "200": {
            "description": "Specification",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "404": {
            "description": "Specification not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxTicket"
        ],
        "x-authentication": "member",
        "x-change-safety": "safe_read",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      },
      "patch": {
        "operationId": "updateSpec",
        "summary": "Partially update or relink a specification",
        "parameters": [
          {
            "$ref": "#/components/parameters/specId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpecPatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Specification updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access or service not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "404": {
            "description": "Specification not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "422": {
            "description": "Invalid update",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          }
        },
        "tags": [
          "NoxTicket"
        ],
        "x-authentication": "member",
        "x-change-safety": "write_not_safe_to_retry",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      }
    },
    "/api/specs/{specId}/archive": {
      "post": {
        "operationId": "archiveSpec",
        "summary": "Archive a specification",
        "x-required-role": "admin",
        "parameters": [
          {
            "$ref": "#/components/parameters/specId"
          }
        ],
        "responses": {
          "200": {
            "description": "Specification archived",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonValue"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AdminRequired"
          }
        },
        "tags": [
          "NoxTicket"
        ],
        "x-authentication": "admin",
        "x-change-safety": "destructive",
        "security": [
          {
            "browserSession": [],
            "organization": []
          },
          {
            "nativeSession": [],
            "organization": []
          },
          {
            "bearerAuth": [],
            "organization": []
          }
        ]
      },
      "delete": {
[...]
